/problematicas/problema01/Jugadores_futbol/nbproject/private/
/problematicas/problema01/Jugadores_futbol/build/
/problematicas/Problema03/Aplicacion03/nbproject/private/
/problematicas/Problema03/Aplicacion03/build/
/problematicas/Problema05/Problema05/nbproject/private/
/problematicas/Problema05/Problema05/build/
/problematicas/problema04/Problema04/nbproject/private/
/problematicas/problema04/Problema04/build/
/problematicas/Problema02/Problema02/nbproject/private/
/problematicas/Problema02/Problema02/build/
